@import "materialize";

.nav-wrapper{

    background-color:rgb(57, 66, 165)
}

.search-area {
    padding-top: 50px;
}

.results-block{
    display: inline-block;
    padding: 20px
}

.logout-button {
    margin-right: 10px
}